*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.header-left{
	text-align: center;
}
.login{
	margin-top: 15px;
	font-size: 13px;
}
.login > a{
	color: black;
	text-transform: none;
}
.login :hover{
	color: yellow;
	
}
.header-right{
	text-align: center;
}
.header-bottom{
	padding-left: 30px;
	background-color: #3399CC;
}
.nav-link{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
	line-height: 20px;
}
.nav-item:hover > .nav-link{
	background-color: white;
	color: #3399CC;
}
.footer{
	margin: 0px;
	padding: 0px;
}
.col-md-4{
	padding: 0px;
	margin: 0px;
}
.footer .row{
	background-color: #666;
}

.footer-left{

	text-align: center;
}
.footer-center{
	text-align: center;
}
.footer-right{
	text-align: center;
	
}
.footer-p{
	margin: 0; 
	padding: 0;
}
.container-fluid{
}
.btn{
	width: 100%;
	background-color: #333;
	margin: 0;
	border: none;
}
.btn-group-vertical >button{
	width: 100%;
}
.ct-left{
	margin: 0px;
	padding: 0px;
	background-color: #333;
}
.ct-right{
	margin: 0px;
	padding: 0px;	
	background-color: #999;
}
.list-tittle{
	background-color: #999;
}
.more-list{
	background-color: #999;
}
.avatar{
	text-align: center;
	padding: 10px 0;
}
.avatar >p{
	margin: 0;
	font-size: 14px;
	color: #fff;
}
.btn-group {
	width: 55%;
	  
}
.list-tittle button .btn{
	margin: 0;
	padding: 0;
}
.list-tittle button{
  color: #3399CC;
	background-color: #fff;
}
.list-tittle button:hover{
	color: white;
}
.list-tittle button{
	margin-right: 10px;
}

.btn{
	text-align: left;
}
.list-item{
	padding-left: 30px;
	font-size: 14px ;
}

.accc{
	text-transform: uppercase;
	font-size: 15px;
}
.more-list table{
	margin-top: 10px;
}
.more-list table label{
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
}
@media only screen and (max-width: 1300px){
	.col-md-10  {
	    -ms-flex: 0 0 83.333333%;
	    flex: 0 0 83.333333%;
	    max-width: 83.333333%;
	}
	.col-md-2{
		min-width: 30%;
	}
}

